
@{
    ViewBag.Title = "Exibir Produto Por Categoria";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.DropDownList("CategoriaID", null, htmlAttributes: new { @class = "form-control" })
    @Html.DropDownList("ProdutoID", null, htmlAttributes: new { @class = "form-control" })
    <input type="submit" value="Enviar" class="btn btn-primary" />
}

@section Scripts {

    @Scripts.Render("~/Scripts/ProdutosController.js")

    @*<script type="text/javascript">
        $(document).ready(function () {

            $("#CategoriaID").on("change", function () {
                var options = {};

                options.url = "/Produtos/GetProdutosByCategoria";
                options.type = "GET";
                options.data = { "idCategoria": $("#CategoriaID").val() };
                options.dataType = "json";

                options.success = function (data) {
                    $("#ProdutoID").empty();
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].Nome);

                        $("#ProdutoID").append(
                            "<option value='" + data[i].ProdutoID + "'> " + data[i].Nome + " </option>");
                    }
                };

                $.ajax(options);
            });

        });
    </script>*@
}