
@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("nome")
    <br />
    <br />
    @Html.TextBox("descricao")
    <br />
    <br />
    <input type="submit" value="Enviar" />
}
