@using Aula1505_MVC1.Models

@{
    ViewBag.Title = "Lista de Categorias";
}

<h2>@ViewBag.Title</h2>

@foreach (Categoria categ in ViewBag.MinhasCategorias)
{
    <p>@categ.CategoriaID</p>
    <p>@categ.Nome</p>
    <p>@categ.Ativo</p>
    <br />
    <br />
}

